
.content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.left-column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.box {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(124, 92, 252, 0.1);
}

.box h1 {
    font-size: large;
    margin-top: 0;
    color: #333333;
}


.flashcard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
}

#cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    max-width: 1500px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

#contents {
    text-align: center;
    color: white;
    max-width: 1450px;
   
}

.counter {
    font-size: 24px;
    margin-bottom: 20px;
    color: #7c5cfc;
}

.card-text {
    line-height: 1.6;
}

.FnB {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    font-size: 3.5rem;
    color: #7c5cfc;
    transition: color 0.3s;
}

i:hover {
    color:black;
}

#quit {
    margin-top: 30px;
    background-color: #f2f2f2;
    color: #7c5cfc;
    border: none;
    border-radius: 12px;
    padding: 12px 28px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

#quit:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}
p{
    color: black;
}